.list {
  display: block;
  text-decoration: none;
  font-size: 30px;
  padding-top: 20px;
  color: black;
  cursor: pointer;
}
// body {
//   background-color: #EEFFFF;
//   height: 100vh;
// }

.header {
  width: 100vw;
  height: 120px;
  background-color: blanchedalmond;
  text-align: center;
  line-height: 120px;
  font-size: 50px;
}